.addoons-login{
    background-color: #875A7B;
    color:#212529;
}

.addoons-input{
    border: none;
    background-color: #f0f0f0;
    padding: 25px 10px 25px 15px;
    border-radius:0px;
}

.addoons-input::placeholder{
    /*color:#b09a86;*/
    color: rgba(0,0,0, 0.30);
}

.btn-primary-login{
    color: #FFFFFF;
    background-color: #875A7B;
    border-color: #875A7B;
    padding: 13px;
    border-radius:0px;
}

.vertically-align{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-65%);
    -webkit-transform: translateX(-50%) translateY(-65%);
    transform: translateX(-50%) translateY(-65%);
    width: 500px;
}